.env
__pycache__/
*.pyc
airflow/logs/
postgres-data/
kafka-data/
data/raw/
*.egg-info/
.pytest_cache/

airflow/logs/
airflow/plugins/
data/
config/

airflow/logs/
airflow/plugins/
data/
config/

*.yaml

docker-compose.yml
